* {
    margin: 0px;
    padding: 0px;
}
#titulo {
    justify-content: center;	
    width: 100%;
    height: 75px;
    padding: 0% 3%;
    background-color: black;
    background-image: url('../img/nebularojapeqarriba.png');
}
#titulo > div {
    width: 1200px;
    margin: 0px auto;
    margin-left: 8px;
    padding-top: 18px;
    
}
#titulo h1 {
    font: bold 35px Geomanist, sans-serif;
    color: white;
}
#menu {
    width: 100%;
    height: 30px;
    padding: 0% 3%;
    background-color: rgb(0, 0, 0);
    background-image: url('../img/negro.png');
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#menu > div {
    width: 960px;
    margin: 0px auto;
}
#menu li {
    display: inline-block;
    height: 30px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#menu li:hover {
 background-color: #7c0a0a;
    color: rgb(255, 0, 0)
}
#menu a {
    font: bold 18px Arial, sans-serif;
    color: #7c0a0a;
    text-decoration: none;
}
#listamenu > li {
    position: relative;
    display: inline-block;
    height: 14px;
    padding: 6px 30px 10px 10px;
    margin-right: 5px;
    margin-left: 20px;
    
}
#listamenu li > ul {
    display: none;
    position: absolute;
    top: 31px;
    left: 0px;
    background-color:  #7c0a0ae0;
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}
#listamenu li > ul > li {
    width: 210px;
    height: 30px;
    padding-top: 15px;
    padding-left: 10px;
}
#listamenu li:hover ul {
    display: block;
}
#listamenu a {
    font: bold 17px Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
#menu li:hover {
    background-color: #7c0a0a;
}

main {
    width: 96%;
    padding: 2%;
    background-color: #838383;
    background-image: url('../img/grisgeo.png');
}
main > div {
    width: 960px;
    margin: 0px auto;
}
#articulosprincipales {
    float: left;
    width: 620px;
    padding-top: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.recuperar {
    clear: both;
}
article {
    position: relative;
    padding: 0px 40px 20px 40px;
}
article h1 {
    margin-bottom: 5px;
    font: bold 26px Georgia, sans-serif;
}
article p {
    font: 18px Georgia, sans-serif;
}
figure {
    margin: 10px 0px;
}
figure img {
    padding: 5px;
    border: 1px solid;
}
#pielogo {
    width: 96%;
    padding: 2%;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-image: url('../img/nebularojapeqabajo.png');
}
#pielogo > div {
    width: 960px;
    margin: 0px auto;
    background-color: #000000;
    background-image: url('../img/negro.png');
    border-radius: 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.seccionpie {
    color: #FFFFFF;
    float: left;
    width: 27.33%;
    padding: 3%;
}
.enlaces:link {
    color: #ff0000;
}
.enlaces:hover {
    color: #b41111ec;
}
.enlaces:visited {
    color: #960c0c;
}