* {
    margin: 0px;
    padding: 0px;
}
#cabeceralogo {
    justify-content: center;	
    width: 100%;
    height: 150px;
    padding: 0% 3%;
    background-color: black;
    background-image: url('../imaxes/nebularosa25.jpg');
}
#cabeceralogo > div {
    width: 960px;
    margin: 0px auto;
    margin-left: 74px;
    padding-top: 40px;
    
}
#cabeceralogo h1 {
    font: bold 60px Neographic, sans-serif;
    color: white;
}
#menuprincipal {
    width: 100%;
    height: 30px;
    padding: 0% 3%;
    background-color: black;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}
#menuprincipal > div {
    width: 960px;
    margin: 0px auto;
}
#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#menuprincipal li:hover {
 background-color: #f4d03f;
    color: black
}
#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #f4d03f;
    text-decoration: none;
}
#listamenu > li {
    position: relative;
    display: inline-block;
    height: 16px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#listamenu li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color:  #ab214c;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}
#listamenu li > ul > li {
    width: 120px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
}
#listamenu li:hover ul {
    display: block;
}
#listamenu a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}
#menuprincipal li:hover {
    background-color: #6FACC6;
}

main {
    width: 96%;
    padding: 2%;
    /*background-image: url("../imaxes/fondoazul.jpg"); apartado_f*/
}
main > div {
    width: 960px;
    margin: 0px auto;
}
#articulosprincipales {
    float: left;
    width: 620px;
    padding-top: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#infoadicional {
    float: right;
    width: 280px;
    padding: 20px;
    background-color: #E7F1F5;
    border-radius: 10px;
}
#infoadicional h1 {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    margin-bottom: 15px;
}
.recuperar {
    clear: both;
}
article {
    position: relative;
    padding: 0px 40px 20px 40px;
}
article time {
    display: block;
    position: absolute;
    top: -5px;
    left: -70px;
    width: 80px;
    padding: 15px 5px;
    background-color: #094660;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 5px;
}
.numerodia {
    font: bold 36px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.nombredia {
    font: 12px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}
article h1 {
    margin-bottom: 5px;
    font: bold 30px Georgia, sans-serif;
}
article p {
    font: 18px Georgia, sans-serif;
}
figure {
    margin: 10px 0px;
}
figure img {
    padding: 5px;
    border: 1px solid;
}
#pielogo {
    width: 96%;
    padding: 2%;
    background-color: #0F76A0;
}
#pielogo > div {
    width: 960px;
    margin: 0px auto;
    background-color: #9FC8D9;
    border-radius: 10px;
}

.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
}